<div>
  <kendo-appbar position="top">
    <kendo-appbar-section>
      <button kendoButton fillMode="flat">
        <kendo-svgicon [icon]="menuIcon"></kendo-svgicon>
      </button>
    </kendo-appbar-section>

    <kendo-appbar-section>
      <h1 class="title">CartCloud</h1>
    </kendo-appbar-section>

    <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

    <kendo-appbar-section>
      <ul>
        <li><span><a routerLink="users" class="nav-link">Users</a></span></li>
        <li><span><a routerLink="create" class="nav-link">Add</a></span></li>
      </ul>
    </kendo-appbar-section>

    <!--<kendo-appbar-spacer></kendo-appbar-spacer>

    <kendo-appbar-section class="actions">
      <kendo-badge-container>
        <button kendoButton fillMode="flat">
          <kendo-svgicon [icon]="bellIcon"></kendo-svgicon>
        </button>
        <kendo-badge shape="dot" themeColor="warning" size="small" position="inside"></kendo-badge>
      </kendo-badge-container>
      <span class="k-appbar-separator"></span>
    </kendo-appbar-section>

    <kendo-appbar-section>
      <kendo-avatar [imageSrc]="kendokaAvatar" shape="circle" width="26px" height="26px"></kendo-avatar>
    </kendo-appbar-section>-->

  </kendo-appbar>

  <div class="container mt-3">
    <router-outlet />
  </div>
</div>
